body {
    background-color: lavender;
}

#header {
    font-family: 'VT323', monospace;
}

#buttons {
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
}

#randomColor {
    margin-right: 50px;
    border: none;
    color: white;
    background-color: teal;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 16px;  
}

p{
    margin-right: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  
  #boxes {
    height: 640px;
    width: 640px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 2fr);
    grid-template-columns: repeat(var(--grid-cols), 2fr);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .grid-item {
      padding: 1em;
      text-align: center;
  }

.reset {

    text-align: center;
    background-color: teal;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 16px;  
}

.reset:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#randomColor:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
